<!-- 
* File: app.component.html
* Author: Zentai Pál
* Group: Szoft-II-N
* Date: 2022-11-28
* Github: https://github.com/Pali002/
* Licenc: GNU GPL -->

<div class="triangleForm bg-light">
  <h1>Időmunka</h1>
  <p>Zentai Pál, 2022-11-28</p>
  <div class="mb-3">
    <label for="hosszusag" class="form-label">Hosszúság</label>
    <input type="text" id="hossz" class="form-control" [(ngModel)]="hosszusag">
  </div>
  <div class="mb-3">
    <label for="elotolas" class="form-label">Előtolás</label>
    <input type="text" id="elotolas" class="form-control" [(ngModel)]="elotolas">
  </div>
  <div class="mb-3">
    <label for="fordulatszam" class="form-label">Fordulatszám</label>
    <input type="text" id="fordulatszam" class="form-control" [(ngModel)]="fordulatszam">
  </div>

  <button class="btn btn-warning" (click)="calcArea()">Számit</button>

  <div class="mb-3" *ngIf="show">
    <label for="megmunkalasi_ido" class="form-label">Megmunkálási idő</label>
    <input type="text" id="ido" class="form-control" [(ngModel)]="megmunkalasi_ido">
  </div>

</div>